
button {
	font-size: 36px;
}
.parameter {
	font-size: 24px;
	margin: 2em 1em
}
input[type=range] {
	-webkit-appearance: none;
	width: 50%;
}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid #000000;
	height: 36px;
	width: 36px;
	border-radius: 36px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -15px;
}
input[type="range"]::-moz-range-thumb {
	height: 36px;
	width: 36px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	border: 1px solid #000000;
	height: 36px;
	width: 36px;
	border-radius: 36px;
	background: #000000;
	cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #808080;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #808080;
	border: 0.2px solid #010101;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #808080;
}