
button {
	font-size: 36px;
	width: 25%;
	height: 3em;
	border: 1px solid #000000;
	border-radius: 1em;
	margin-bottom: 1em;
}
output {
	font-size: 36px;
	font-weight: bold;
}
.info {
	font-size: 20px;
}
p {
	font-size: 20px;
}
.parameter {
	font-size: 24px;
	margin: 1em 1em
}
input[type=range] {
	-webkit-appearance: none;
	width: 50%;
}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid #000000;
	height: 42px;
	width: 42px;
	border-radius: 42px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -16px;
}
input[type="range"]::-moz-range-thumb {
	border: 1px solid #000000;
	height: 42px;
	width: 42px;
	border-radius: 42px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	border: 1px solid #000000;
	height: 42px;
	width: 42px;
	border-radius: 42px;
	background: #ffffff;
	cursor: pointer;
	margin-top: 0px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #808080;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #808080;
	border: 0.2px solid #010101;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background-color: #808080;
	background: transparent; 
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #808080;
	border: 0.2px solid #010101;
}
input[type=range]::-ms-fill-upper {
	background: #808080;
	border: 0.2px solid #010101;
}
